# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/
res/
cmake-build*/
.DS_Store
dist/
build/
src/flash_tokenizer.egg-info/
dataset/*/*.txt
package_build/miniconda_*
package_build/.conda
package_build/Library
package_build/.cache
package_build/.nv
secret.txt