include LICENSE
include README.md
include CMakeLists.txt
include pyproject.toml
include setup.py
recursive-include include *.h
recursive-include src *.cpp
recursive-include python *.cpp *.py
recursive-include res *.txt
